@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"]</title>

    <!-- Bootstrap core CSS -->
    <link href="~/template/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/Style/1-col-portfolio.css" rel="stylesheet">
    <link href="~/css/Style/custom.css" rel="stylesheet">

</head>

<body>
    <div id="Wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="Home">Zegeltjes.nl</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" asp-action="index">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Zegeltjes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Over ons</a>
                        </li>
                        
                        @{var s = Context.Session.GetString("_Naam");}   
                        @if (s == null)
                        {
                            <li class="nav-item">
                                <a  href="inloggen" class="nav-link">Login</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="#">@s</a>
                            </li>

                        }



                    </ul>
                </div>
            </div>
        </nav>
        <div id="Body">
            <!-- Page Content -->
            <div class="container">
                
                @RenderBody()

            </div>
            <!-- /.container -->
        </div>
        <div id="Footer">
            <!-- Footer -->
            <footer class="py-5 bg-dark">
                <div class="container">
                    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
                </div>
                <!-- /.container -->
            </footer>
        </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="~/template/jquery/jquery.min.js"></script>
    <script src="~/template/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>